@{
    Layout = null;
}
<input type="hidden" id="EntityName" value="@ViewBag.EntityName" />
<input type="hidden" id="EntityId" value="@ViewBag.EntityId" />
@functions {
    private string ParseDate(DateTime? modelRegistrationsEnd)
    {
        if (modelRegistrationsEnd.HasValue) return modelRegistrationsEnd.Value.ToString("yyyy-MM-dd");
        return string.Empty;
    }

}
<h2>Estadísticas</h2>
<div class="row">
    <form class="col-sm-4" id="form">

        <h3>Opciones</h3>
        <label>Inicio</label>
        <input type="date" id="StartDate" class="datepicker-elm form-control" name="StartDate" value="@ParseDate(DateTime.Now)" />
        <label>Fin</label><br />
        <input type="date" id="EndDate" class="datepicker-elm form-control" name="EndDate" value="@ParseDate(DateTime.Now)" /><br />

        <div class="form-group form-float">
            <div class="">
                <input type="checkbox" id="ByDay" name="ByDay" value="false" class="form-control" />
                <label for="ByDay" class="form-label">
                    Resultados por día
                </label>
            </div>
        </div>

        <button type="button" class="btn btn-sm btn-primary js-filter">Filtrar</button>
    </form>
    <div class="col-sm-8" id="chart">

        <canvas id="canvas"></canvas>
    </div>
</div>
<script src="~/Views/Stats/GetStatsForEntity.js"></script>