@{
    Layout = null;
}
<input type="hidden" id="EntityName" value="@ViewBag.EntityName" />
<input type="hidden" id="EntityId" value="@ViewBag.EntityId" />
@functions {
    private string ParseDate(DateTime? modelRegistrationsEnd)
    {
        if (modelRegistrationsEnd.HasValue) return modelRegistrationsEnd.Value.ToString("yyyy-MM-dd");
        return string.Empty;
    }

}
<style>
    #canvas {
        height: 300px;
    }
    #canvas-two {
        height: 300px;
    }
</style>
<div class="row" id="container">
    @*<div class="col-sm-4">
        <form id="form">
            <h3>Opciones</h3>
            <label>Inicio</label>
            <input type="date" id="StartDate" class="datepicker-elm form-control" name="StartDate" value="@ParseDate(DateTime.Now)"/>
            <label>Fin</label><br/>
            <input type="date" id="EndDate" class="datepicker-elm form-control" name="EndDate" value="@ParseDate(DateTime.Now)"/><br/>

            <div class="form-group form-float">
                <div class="">
                    <input type="checkbox" id="ByDay" name="ByDay" value="false" class="form-control"/>
                    <label for="ByDay" class="form-label">
                        Resultados por día
                    </label>
                </div>
            </div>

            <button type="button" class="btn btn-sm btn-primary js-filter">Filtrar</button>
        </form>
    </div>*@
    <div class="col-sm-12">
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" data-action="sevdays" class="btn btn-primary waves-effect js-buttons">7 DÍAS</button>
            <button type="button" data-action="thirdays" class="btn btn-default waves-effect js-buttons">30 DÍAS</button>
            <button type="button" data-action="year" class="btn btn-default waves-effect js-buttons">1 AÑO</button>
            <button type="button" data-action="all" class="btn btn-default waves-effect js-buttons">DESDE SIEMPRE</button>
        </div>
    </div>
    <div class="col-sm-12" id="chart">
        <hr />
        <div class="row">
            <div class="col-lg-12">

                <div id="canvas"></div>
            </div>
        </div>
    </div>
</div>
@*<div id="container-non">
    <div class="">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="img-responsive" style="width: 15%; margin: 0 auto" src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B7WCemMG6e0VWGZUTUtNVF9oY28/components-lists.png" alt="Alternate Text"/>
                <h2>Estadísticas</h2>
                <p>
                    Seleccione los elementos que desee asignar a la publicación
                </p>
                <p class="help-block">
                    Una vez asignada la unidad académica se dará prioridad a las notificaciones para los alumnos dentro de la misma.
                </p>
            </div>
        </div>
    </div>
</div>*@

<script src="~/Views/Stats/GetStatsForEntity.js"></script>