
@{
    Layout = null;
}
<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Agendar <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Notificación Predeterminada</a></li>
        <li><a href="#">Notificación Personalizada</a></li>
    </ul>
</div>